grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
}


body {
    background-color: #f5f5e6;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
	margin-top: 40px;
	margin-right: 120px;
	margin-left: 120px;
	margin-bottom: 60px;

 
}

h1 {
	text-align: center;
	font-size: 3em;
	text-decoration: underline;
	margin-right: 120px;
    

}

h2 {
    text-align: left;
    font-size: 2em;
	color: #FF0000;
    text-decoration: none
    

}

h3 {
    text-align: left;
    font-size: 2em;
	color: #DAAE00;
    text-decoration: none
    

}

p {
	font-size: 24px;
    text-align: justify;
    overflow-wrap: break-word;
    display: block; 
	max-width: 960px;
	
	
}

ul {
	font-size: 24px;
    text-align: justify;
    overflow-wrap: break-word;
    display: block; 
	max-width: 960px;
		
}

a:link {
	color: rgb(0, 0, 255)
}

a:hover {
	color: rgb(0, 255, 0)
}

a:visited {
	color: rgb(255, 0, 0)
}

a:active {
	color: rgb(156, 47, 200)
}
